 <section class="player-bar" ng-controller="PlayerBarCtrl as playerBar">
     <div class="container">
         <div class="control-group main-controls">
             <a class="previous" ng-click="playerBar.previous()">
                 <span class="ion-skip-backward"></span>
             </a>
             <a class="play-pause">
                 <span class="ion-play"
                       ng-show="!playerBar.songData.playing"
                       ng-click="playerBar.play()">
                 </span>
                 <span class="ion-pause"
                       ng-show="playerBar.songData.playing"
                       ng-click="playerBar.pause()">
                 </span>
             </a>
             <a class="next" ng-click="playerBar.next()">
                 <span class="ion-skip-forward"></span>
             </a>
         </div>
         <div class="control-group currently-playing">
             <h2 class="song-name">{{ playerBar.songTitle }}</h2>
             <h2 class="artist-song-mobile">{{ playerBar.songTitle }} - {{ playerBar.albumData.artist }}</h2>
             <h3 class="artist-name">{{ playerBar.albumData.artist }}</h3>
             <div class="seek-control">
                 <div class="seek-bar">
                     <!-- Dodgy hardcoded values alert -->
                     <seek-bar
                               value="{{ time / 1000 }}"
                               max="{{ playerBar.currentSong.duration / 1000 }}"
                               on-change="playerBar.setCurrentTime(value)">
                     </seek-bar>
                 </div>
                 <div class="current-time">{{ time | timecode }}</div>
                 <div class="total-time">{{ playerBar.songData.duration | timecode }}</div>
             </div>
         </div>
         <div class="control-group volume">
             <span class="icon ion-volume-high"></span>
             <seek-bar
                       value="{{ playerBar.songPlayer.volume }}"
                       max="{{ playerBar.songPlayer.maxVolume }}"
                       on-change="playerBar.songPlayer.setVolume(value)">
             </seek-bar>
         </div>
     </div>
 </section>
